.dailyWeather{
    text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    margin-top: 100px;
    }
  #daily-topic{
      font-size: 25px;
      height: 5px;
    }
    #daily-topic:hover{
    background: none;
    }
  .cards-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;

  }
  .description{
    width: 80px;
    text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;

  }
  .days-topic{
   color: rgb(106, 35, 112);
   text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;

  }
  .day-degree{
    width: 104px;
    text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;

  }
  .day-day{
    width: 80px;
    text-align: center;
  }
  .card-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }
  .card-container:hover{
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 10px;
  }
  .card-container:active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  
  @media (max-width: 960px) and (min-width:631px){
    
    .dailyWeather{
      margin-top: 80px;
    }
     
    .cards-container{
        height: auto;
         display: flex;
         flex-direction: column;
         
     }
     .card-container{
       
         display: flex;
         flex-direction: row;
         justify-content:space-around;
         
     }
    
     .daily-icons{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
     }
     .day-day{
      text-align:center;
      display: flex;
     }
    
  }

  @media (max-width:630px){
    .dailyWeather{
      margin-top: 20px;
    }
    .cards-container{
      height: auto;
       display: flex;
       flex-direction: column;
       margin-top: 10px;
   }
   .card-container{
       display: flex;
       flex-direction: row;
       justify-content:space-around;
       text-align:left;
       font-size: 13px;
   }
   .days-topic{
    font-size: 19px;
  }
  .day-day{
    width: 100px;
    }
  }