.dailyWeather{
    text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    margin-top: 100px;
    
    
  }
  .cards-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  @media (max-width: 880px) and (min-width:631px){
    
    .dailyWeather{
      margin-top: 80px;
    }
     
    .cards-container{
        height: auto;
         display: flex;
         flex-direction: column;
         
     }
     .card-container{
         display: flex;
         flex-direction: row;
         justify-content:space-around;
         text-align:left;
         font-size: 16px;
     }
    
     .daily-icons{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
     }
     .day-day{
      display: flex;
      width: 100px;
       
     }
  }

  @media (max-width:630px){
    .dailyWeather{
      margin-top: 20px;
    }
    .cards-container{
      height: auto;
       display: flex;
       flex-direction: column;
       margin-top: 10px;
   }
   .card-container{
       display: flex;
       flex-direction: row;
       justify-content:space-around;
       text-align:left;
       font-size: 13px;
   }
   .days-topic{
    font-size: 15px;
  }
  .day-day{
    width: 100px;
    }
  }