*{
  box-sizing: border-box;
}

.none{
  display: none;
}

.main-container{
  width: 100%;
  height: 100vh;
  display: block;
  overflow:scroll;
  background-repeat: no-repeat;
  background-size:cover;
  color: rgb(211, 217, 250);
  font-size: 1.2rem;
  font-weight: 500;
  /* padding-left: 40px; */
  padding-top: 50px;
  /* background-position: 55% 25%; */
}
.input-city{
  margin-left: 45px;
}
#input{
    text-align: center;
    padding: 3px;
    font-size: 14px;
    border-width: 1px;
    border-color: #2e2828;
    background-color: #FFFFFF;
    color: #252222;
    border-style: hidden;
    border-radius: 25px;
    box-shadow: 3px 5px 10px rgba(66,66,66,.43);
}
#input:hover{
  box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.856);
}
.header{
  display: flex;
  align-items:flex-start ;
}
.first-container{
align-items: center;
height: 55px;
}
.timezone{
  font-size: 2rem;
  font-weight: 650;
}
.data{
  display: flex;
}
.clear-day {
  background-image: url(img/sunny-day.png);
}
.clear-night{
  background-image: url("https://images.pexels.com/photos/631477/pexels-photo-631477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  /* background-position:  0px -50px; */
  color: rgb(252, 234, 199);
}
.rain-day, .drizzle-day{
  background-image: url(img/rain-day.png);
  color: rgb(252, 202, 111);

}
.rain-night, .drizzle-night{
  background-image: url(img/rain-night.png);
}
.thunderstorm-night, .squall-night, .tornado-night{
  background-image: url(img/thunderstorm-night.png);
  color: rgb(250, 224, 174);
}
.thunderstorm-day, .squall-day, .tornado-day{
  background-image: url(img/thunderstorm-day.png);
  color: rgb(17, 13, 6);
}
.snow-day {
  background-image: url(img/snow-day.jpg);
  color: rgb(234, 237, 243);
}
.snow-night {
  background-image: url(img/snow-night.jpg);
  color: rgb(255, 255, 255);
}
.clouds-day{
  background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  color: rgb(53, 30, 136);
}
.clouds-night{
  background-image: url("https://images.pexels.com/photos/2885320/pexels-photo-2885320.jpeg");
}
.mist-day, fog-day, .smoke-day, .haze-day{
  background-image: url("https://images.pexels.com/photos/1605325/pexels-photo-1605325.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.mist-night, .fog-night, .smoke-night, .haze-night{
  background-image: url("https://images.pexels.com/photos/6468238/pexels-photo-6468238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
}
.dust-day, .sand-day, .sand-night, .dust-night{
  background-image: url("https://images.pexels.com/photos/5726359/pexels-photo-5726359.jpeg");
}
.ash-day, .ash-night{
  background-image: url("https://images.pexels.com/photos/4070727/pexels-photo-4070727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.header{
  text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);
  display: flex;

  display: flex;
  justify-content:space-between;
  padding-top: 15px;
}

.first-container{
 /* text-shadow: 1px -1px 2px rgba(163, 169, 212, 0.84); */
display: flex;
justify-content:flex-end;
flex-direction: row;
padding-left: 40px;
}

.degree-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start; 
  align-items:flex-start;
}


.current-icon{
 width:  95px;
}

.degree-container > div{
 font-size: 20px;
 position: relative;
 bottom: -18px;
}

.second-container{
  padding-right: 70px;
}

.currentData-container{
  text-shadow: 1px -1px 2px rgba(82, 89, 148, 0.84);display: flex;
  margin-left: 40px;
  display: block;
  font-size: 1;
}
#note{  
  font-size: 11px;
  text-shadow: none;
}

@media (max-width: 960px) {
  .main-container{
    height: auto;
    font-size: 1rem;
  }
  .input-city{
    margin-left: 20px;
  }
  .first-container{
    padding-left: 20px;
  }
  .second-container{
    padding-right: 20px;
  }
  .currentData-container{
    margin-left: 20px;
  }
  .clear-day{
    background-position: -980px;
  }
  .mist-night, .fog-night, .smoke-night, .haze-night{
    background-position: -450px;
  }
  #note{  
    font-size: 12px;
    text-shadow: none;
  }
}



@media(max-width:630px) {
  .main-container{
     padding-top: 15px;
  }
  .input-city{
    margin-left: 10px;
  }
.first-container{
  margin-top: 50px;
}
.timezone{
  font-size: 25px;
}
.data{
  display: flex;
position: relative;
left: -53px;
}
.second-container, .data, h3, .degree-container>div{
    font-size: 15px;
  }
  .current-icon{
    width: 70px;
   height: 70px;
   margin-left: 37px;
   margin-right: -7px;
  }
  .first-container{
    padding-left: 10px;
    flex-direction: column;
  }
  .second-container{
    padding-right: 10px;
    font-size: 10px;
    
    justify-content: end;
  }
  .data{
    align-items:center;
  }
  .currentData-container{
    font-size: 13px;
    margin-left: 15px;
  }
  .clear-day{
    background-position: -1080px;
  }
  .clear-night{
    background-position: -680px;
  }
  .thunderstorm-day{
    background-position: -500px;
  }
  .thunderstorm-night{
    background-position: -250px;
  }
  .snow-night {
    background-image: url(img/snow-night.jpg);
    background-position:-1200px;
  }
  .mist-night, .fog-night, .smoke-night, .haze-night{
    background-position: -650px;
  }
  .ash-day, .ash-night{
    background-position: -850px;
  }
  #note{  
    font-size: 10px;
    text-shadow: none;
  }

}

